services:
  db:
    image: postgres:16-alpine # Koristimo Alpine verziju jer je lagana (manje od 200MB)
    restart: always # Ako se baza sruši, Docker je sam podiže natrag
    environment:
      POSTGRES_USER: admin # Defaultni korisnik
      POSTGRES_PASSWORD: tajna_lozinka # OVO ćemo kasnije maknuti u .env datoteku!
      POSTGRES_DB: banknote_db # Ime naše baze
    ports:
      - "5432:5432" # Mapiramo port: Tvoja Fedora (5432) -> Kontejner (5432)
    volumes:
      - postgres_data:/var/lib/postgresql/data # OVO JE KLJUČ! Trajna pohrana podataka.

  backend:
    build: ./backend # Kontekst: Gdje je Dockerfile i kod?
    ports:
      - "3000:3000" # Opcija A: Otvaramo vrata prema Fedori
    environment: # INJECTION: Ovdje ubacujemo konfiguraciju!
      POSTGRES_HOST: db # Ime servisa iz compose-a (DNS)
      POSTGRES_PORT: 5432
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: tajna_lozinka
      POSTGRES_DB: banknote_db
    depends_on:
      - db # Bitno: Ne pali backend dok baza nije spremna
    volumes:
      - ./backend:/usr/src/app:Z # Hot Reload: Vežemo lokalnu mapu unutra
      - /usr/src/app/node_modules # Hack: Da ne pregazimo module unutar kontejnera

volumes:
  postgres_data: # Definiramo volumen koji preživljava brisanje kontejnera

